@model ContosoUniversity.Models.Student
@{
    ViewData["Title"] = "Enrolled";
}

<h2>Congratulations @Html.DisplayFor(model=>model.FirstMidName)! </h2>
<p>
    A Contoso recruiter will review your details and reach out to you within one to two business years.
    We look forward to having you at our school!
</p>

