
@{
    ViewData["Title"] = "About Contoso University";
}

<h2>Contoso Uniersity</h2>
<div>
    <p>
        At Contoso University, we believe simplicity is key to everything! Our students attend because
        we don't overcomplicate things, keeping everything to an absolute minimum. Our teachers and
        staff are all available to help simplify your life, and your education. Graduating can seem
        like a difficult and complicated road, but at Contoso it is like walking down a straight path.
        Come join us and see why all of our students say "OK"!
    </p>
</div>
<h3>Contact Information</h3>

<h4>Benjamin Greenway</h4>
<p>Email at gre15028@byui.edu</p>