@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div>
    <h2>Welcome to Contoso University Enrollments</h2>
    <p>
        We are glad you've chosen to visit our website, please click @Html.ActionLink("here", "Create", "Students") to enroll,
        or feel free to explore our university a little more!
    </p>
</div>
<div id="fourimages">
    <img class="four" src="~/Images/girlreading.jpeg" />
    <img class="four" src="~/Images/group.jpeg" />
    <img class="four" src="~/Images/Seats.jpeg" />
    <img class="four" src="~/Images/Studying.jpg" />
</div>
